<div class="entry single">

  <div class="entry-header">

    <h2 class="title">Welcome <%= @user.first_name %>!</h2>

  </div>

  <div class="entry-content">

    <p>
      Thank you for becoming a partner with us.  There are two ways to get your
      property or service added to our database.  Once approved, it will be automatically
      displayed both on the web and our iphone apps.
    </p>

    <p>If your property or service <b>already exists</b> in our platform:</p>

    <p>
      1. Search for your property or service.<br/>
      2. Click on "Apply for Ownership". <br/>
      3. We will verify your claim and you will receive an email notification.
    </p>

    <p>If your property or service <b>does not exist</b> on our platform:</p>

    <p>
      1. On the sidebar, click on "My Properties" <br/>
      2. Fill in the details and submit. <br/>
      3. We will verify your claim and you will receive an email notification.
    </p>

  </div>

</div>