<%= link_to image_tag("direct-ads/caloy/caloy-ad-small.png", :size => "300x250", :class => "ad"),
            image_path("direct-ads/caloy/caloy-ad-big.png"),
            :class => "single_image",
            :title => "<a href='http://travelcentralph.blogspot.com/2011/10/tourism-lecture-walks.html' target='_blank'>More Info</a>"%>