<%= javascript_include_tag 'jquery.cycle.all.min' %>

<div class="flickr-feed boxed">

  <div class="box-header">

    <h6 class="align-left">Photos</h6>

    <% if can? :manage, :pictures or @poi.allowed_and_maintained_by?(current_user) %>
      <ul>
        <li><%= link_to "Manage", admin_pictures_path(:poi_id => @poi.id), :class => "button primary single-button"  %></li>
      </ul>
    <% end %>

  </div>

  <ul>
    <% @pictures.each do |picture| %>
      <%= render :partial => 'pictures/picture', :locals => {:picture => picture} %>
    <% end %>

    <%= render @web_photos %>
  </ul>
</div>