<div class="entry">

  <div class="entry-header">
    <h2 class="title" id="poi_name">iOS Beta Testing</h2>

    <%= image_tag "itunes/artwork-175x175.jpg", :size => "175x175" %>
  </div>

  <div class="entry-single">
    <p>Just a few more steps to help us out in beta testing our next version of MyTravel Philippines for iOS.</p>



    <p>1. <b>We need the UDID</b>. Send us your unique device id (UDID) thru <a href="">https://itunes.apple.com/app/ad-hoc-helper/id285691333?mt=8</a> <br/>
      Please send it to support@mytravel-asia.com.
      After Rupert includes your UDID to the build, he will email you a download link.
    </p>

    <p>2. <b>Open link on Device</b>. To install this beta, open the link below on your iPhone, iPad or iPod Touch.</p>

    <p><a href="http://tflig.ht/TtvHzt">http://tflig.ht/TtvHzt</a></p>

    <p>3. <b>Install TestFlight</b>. Once the link is clicked on the device, it will automatically detect and install TestFlight.
      It's a way to distribute beta iOS apps to testers easily. <i>Skip this step if you have TestFlight already installed.</i>
    </p>

    <%= image_tag "testflight_install.png", :size => "650x348" %>

    <p>4. <b>Install the build</b> then kindly send us your feedback.<br/>
      You could email us or use this form <a href="http://www.mytravel-asia.com/contact">http://www.mytravel-asia.com/contact</a>
    </p>

    <p>Thanks for participating on our beta testing. If you have friends who have iOS devices and would like to participate,
      please send them to <a href="http://www.mytravel-asia.com/beta_testing">http://www.mytravel-asia.com/beta_testing</a>
    </p>

    <p>
    Best Regards,<br/>
    Rupert & Caloy
    </p>
  </div>
</div>