<% stylesheet('pagination') %>

<h1><%= params[:type].to_s.camelize %></h1>

<% @pois.each do |poi| %>
  <%= render :partial => 'home/entry', :locals => {:poi => poi, :entry_title => nil } %>
<% end %>

<%= will_paginate @pois, :class => "flickr_pagination" %>
