<div class="entry">

  <div class="entry-header">
    <h2 class="title" id="poi_name">Privacy Policy</h2>
  </div>

  <div class="entry-single">
    <p>
      <b>We collect personal and activity data, which may be linked.</b>
      We also may collect personally identifiable information that you provide to us, such as your name. With your
      permission, we may also access other personal information on your device, such as your location, in order to
      provide services to you. If authorized by you, we may also access profile and other basic information from
      services like Facebook.
    </p>

    <p>
      <b>We do not store or share your precise location, including the real-time geographic location of your computer
        or device</b><br/>
      In serving you, we may use your precise geographic location, if you give us permission to do so. We do not share
      this data for any other purpose. Many devices will indicate through an icon when location services are operating.
      This location data is collected anonymously in a form that does not personally identify you and is used only to
      provide and improve our service.
    </p>

    <p>
      <b>You can request to see your personal data.</b><br/>
      You can sign into your account to see any personally identifiable information we have stored, such as your name,
      email, address or phone number. You can also contact us by email to request to see this information.
    </p>

    <p>
      <b>You can sign into your account to see any personally identifiable information we have stored,
        such as your name, email, address or phone number.</b><br/>
        You can also contact us by email to request to see this information.
    </p>

    <p>
      <b>We keep personal data until you delete it.</b><br/>
      We remove personally identifiable information (such as your name, address, email or phone number) and other
      preferences associated with your account promptly after you delete your account. We may retain other data
      indefinitely.
    </p>

    <p>
      <b>We don't share your personal data with other companies.</b><br/>
      We generally do not share personally identifiable information (such as name, address, email or phone)
      with other companies.
    </p>

    <p>
      <b>No ad companies collect data through our service.</b><br/>
      We do not allow advertising companies to collect data through our service for ad targeting.
    </p>

    <p>
      <b>You can ask privacy questions.</b><br/>
      If you have any questions or concerns about our privacy policies,
      please <%= link_to "contact us", contact_us_path %>
    </p>

    <p>
      <b>We take steps to protect personal information</b><br/>
      We take reasonable steps to secure your personally identifiable information against
      unauthorized access or disclosure. However, no security or encryption method can be guaranteed to protect
      information from hackers or human error.
    </p>

    <p>
      <b>Information we collect may be stored or processed on computers located in any country where we do business.</b>
      <br/>
    </p>

    <p>
      <b>This privacy policy was last updated on May 12, 2013.</b><br/>
      Our privacy policy may change from time to time. If we make any material changes to our policies, we will place a
      prominent notice on our website or application. If the change materially affects registered users, we will send a
      notice to you by email.
    </p>

    <p>This policy was based on <%= link_to "PrivacyChoice", "http://www.privacychoice.org/resources"%></p>

  </div>
</div>