<li>
  <%= link_to_web_photo(web_photo, :size => APP_CONFIG[:picture_fixed_thumb_size], :class => "flickr-image")%>
  
  <!--<div class="caption">-->
    <!--<div class="download">-->
      <!--<%= web_photo.credits_to %>-->
    <!--</div>-->
    <!--<div class="image-title"><%= web_photo.caption_title %></div>-->
    <!--<div class="image-desc">-->
      <!--<%= web_photo.caption_description %>-->
    <!--</div>-->
  <!--</div>-->

</li>