<% title "Edit Destination Type" %>

<%= render :partial => 'form' %>

<hr/>

<div class="action_items buttons">
  <%= link_to "Delete", admin_destination_type_path, :confirm => "Are you sure?", :method => :delete %>
  Are you sure you want to delete <%= @destination_type.name %>?
</div>