Hi <%= @user.first_name %>,

<p>Thank you for signing up to <a href="mytravel-asia.com">www.mytravel-asia.com</a> as a partner.</p>

<p>
  Please keep this email for your record. You password: <%= @user.password %>
</p>

<p>To login, please go to <a href="http://www.mytravel-asia.com/users/sign_in">http://www.mytravel-asia.com/users/sign_in</a></p>

<p>
Cheers,<br/>
MyTravel-Asia Team
</p>