<p>We have a feedback from <%= @support.name %></p>
========================================================<br/>
<br/>

<%= @support.description %>

<br/><br/>

========================================================<br/>
<p>If you need to reply to this feedback, please reply to <%= @support.email %></p>

<p>Formatting is lost. Need to investigate this.</p>