<li>
  <%= link_to_picture(picture, {:size => APP_CONFIG[:picture_fixed_thumb_size], :class => 'flickr-image' })%>
  
  <!--<div class="caption">-->
    <!--<div class="download">-->
      <!--<%= picture.credits_to %>-->
    <!--</div>-->
    <!--<div class="image-title"><%= picture.caption_title %></div>-->
    <!--<div class="image-desc">-->
      <!--<%= picture.caption_description %>-->
    <!--</div>-->
  <!--</div>-->

</li>