<div class="entry">

  <div class="entry-header">
    <h3 class="title">Melbourne, Australia</h3>
  </div>

  <div class="entry-content">
    <p>
      Contact Person: Rupert De Guzman<br/>
      2 Birkenhead Ave, Wantirna, VIC, Australia 3152<br/>
      Mobile: (+61)(422) 515 731
    </p>
  </div>
</div>

<div class="entry">

  <div class="entry-header">
    <h3 class="title">Manila, Philippines</h3>
  </div>

  <div class="entry-content">
    <p>
      Contact Person: Caloy Libosda<br/>
      6-A Lotus Street, Pulang Lupa Dos, Las Pinas City, Philippines<br/>
      Mobile: (+63)(916) 417 8495
    </p>
  </div>
</div>