<div id="feedback" class="collapsible-box-content boxed clearfix">

  <h6 class="list-title">Feedback</h6>

  <div class="content">

    <hr class="full"/>

    <p>
      <b>Name:</b>
      <%= @support.name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @support.email %>
    </p>

    <p>
      <b>Contact:</b>
      <%= @support.contact %>
    </p>

    <p>
      <b>Description:</b>
      <%= @support.description %>
    </p>

  </div>
</div>
