  <h3>Your search - <strong><%= params[:keyword] %></strong> - did not match any of our records.</h3>

  <p>Suggestons:</p>

  <ul>
    <li>Have you misspelled the keyword correctly?</li>
    <li>Try more general keywords</li>
    <li>Try fewer keywords</li>
  </ul>
  
  <p>If you are sure that <strong><%= @keyword %></strong> exists and it is not listed in our database, please help us and "Add the record".</p>
