<div id="header">

  <div class="container">

    <h1 id="logo">
      <%= link_to image_tag("logo.png"), root_path, {:rel => "nofollow"} %>
    </h1>

    <div id="header-ads">
      <%= render :partial => 'shared/ads_google_banner' %>
    </div>

  </div>

</div>